
<div>
  <app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>
  <h3>Users list:</h3>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" >
            Name: {{user.name}}, Email {{user.email}}      
             <app-user [user]="user" (deleteEvent) = "deleteUser($event)" (editEvent) = "updateUser($event)"></app-user> 
                 

        </li>
  </ul>
</div>